<div class="wrapper">
  <div class="title">
    LU decomposition
  </div>


  <div class="matrix">

    <div class="bracket"></div>
    <form [formGroup]="form">
      <div>
        <div class="row" *ngFor="let row of form.controls.matrix.controls; let ind = index" formArrayName="matrix">

          <div class="row-item" *ngFor="let item of row.controls; let i = index;" formArrayName="{{ind}}">
            <input class="number" type="number" [value]="item.value" formControlName="{{i}}">
          </div>

        </div>
      </div>
    </form>

    <div class="bracket"></div>

  </div>

  <div class="controls">
    <button class="btn btn-submit" type="submit" (click)="onSubmit()">Виконати</button>
    <div>
      <button class="btn" type="button" (click)="addRow()">Додати рядок</button>
      <button class="btn" type="button" (click)="removeRow()">Видалити рядок</button>
    </div>
    <div>
      <button class="btn" type="button" (click)="addColumn()">Додати колонку</button>
      <button class="btn" type="button" (click)="removeColumn()">Видалити колонку</button>
    </div>


  </div>


  <div class="result" *ngIf="result">
    <div class="result-block">
      <div class="block-title">JS</div>
      <div class="result-inner">
        <div class="matrix-wrapper">
          <div class="matrix-title">Lower matrix</div>
          <div class="matrix">

            <div class="bracket"></div>
            <div class="row-item" *ngFor="let row of result.js.result.lower">
              <div class="number" *ngFor="let item of row; let i = index"
                [ngClass]="{'green1' : i === 0, 'green2' : i === 1,  'green3' : i === 2,  'green4' : i === 3}">{{item | number: '.0-3' }}
              </div>

            </div>

            <div class="bracket"></div>
          </div>
        </div>
        <div class="matrix-wrapper">
          <div class="matrix-title">Upper matrix</div>
          <div class="matrix">
            <div class="bracket"></div>
            <div class="row-item" *ngFor="let row of result.js.result.upper">
              <div class="number" *ngFor="let item of row; let i = index"
                [ngClass]="{'green1' : i === 0, 'green2' : i === 1,  'green3' : i === 2,  'green4' : i === 3}">{{item | number: '.0-3' }}
              </div>
            </div>
            <div class="bracket"></div>
          </div>
        </div>
      </div>


    </div>

    <div class="result-block">
      <div class="block-title">CPP</div>
      <div class="result-inner">
        <div class="matrix-wrapper">
          <div class="matrix-title">Lower matrix</div>
          <div class="matrix">
            <div class="bracket"></div>
            <div class="row-item" *ngFor="let row of result.cpp.result[0]">
              <div class="number" *ngFor="let item of row; let i = index"
                [ngClass]="{'green1' : i === 0, 'green2' : i % 3 === 2,  'green3' : i % 3 === 1,  'green4' : i % 3 === 0}">
                {{item | number: '.0-3' }}</div>
            </div>

            <div class="bracket"></div>
          </div>
        </div>
        <div class="matrix-wrapper">
          <div class="matrix-title">Upper matrix</div>
          <div class="matrix">
            <div class="bracket"></div>
            <div class="row-item" *ngFor="let row of result.cpp.result[1]">
              <div class="number" *ngFor="let item of row; let i = index"
                [ngClass]="{'green1' : i === 0, 'green2' : i === 1,  'green3' : i === 2,  'green4' : i === 3}">{{item | number: '.0-3' }}
              </div>
            </div>

            <div class="bracket"></div>
          </div>
        </div>
      </div>

    </div>

    <div class="difference">
      <div class="time">
        todo
        cpp: <span>{{result.cpp.times}}</span> ms
      </div>
      <div class="time">
        js: <span>{{result.js.time}}</span> ms
      </div>
      <div class="time-end">
        js/cpp: <span>{{result.js.time / result.cpp.time}}</span>
      </div>
    </div>
  </div>


</div>


<!-- {{form | json}} -->